.ddiv {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  overflow-x: scroll;
  height: .8rem;
  white-space: nowrap;
  z-index: 100;
}

.div {
  text-align: center;
  background: #fff;
  position: relative;
  width: 100%;


  .ul {
    padding: 0 0.24rem;
    height: 0.8rem;
    line-height: 0.8rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    top: 0;

    .li {
      flex: 1;
      text-align: center;
      margin-right: 0.4rem;
      display: inline-block;
      line-height: 0.8rem;
      height: 0.8rem;

      span {
        font-size: .3rem;
        color: #999;
        display: inline-block;
      }
    }
  }
}

.ul::-webkit-scrollbar {
  display: none
}

.active {
  background-image: linear-gradient(90deg, #333, #333);
  background-size: 100% 0.05rem;
  background-repeat: no-repeat;
  background-position: bottom 0.01rem center;
  color: #333 !important;
  font-weight: 700;
}