.ul {
  margin-bottom: 0
}

.section {
  position: relative;
}

.juQ4h {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 50vh;
  width: 100%;
}

._1UG_2 {
  transition: opacity .5s cubic-bezier(.55, 0, .1, 1), -webkit-transform .5s cubic-bezier(.55, 0, .1, 1);
  transition: opacity .5s cubic-bezier(.55, 0, .1, 1), transform .5s cubic-bezier(.55, 0, .1, 1);
  transition: opacity .5s cubic-bezier(.55, 0, .1, 1), transform .5s cubic-bezier(.55, 0, .1, 1), -webkit-transform .5s cubic-bezier(.55, 0, .1, 1);
}

._1ti2W {
  position: relative;
}

._3v2Nk:not(.SkZSO) {
  // border-bottom: 1px solid #eee;
}

._3v2Nk {
  padding: 0 3.2vw 3.2vw;
  background-color: #fff;
}

._3mt7u,
._169kA {
  display: -webkit-flex;
  display: flex;
}

._3mt7u {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: center;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  flex-direction: column;


}

._169kA {
  contain: strict;
  position: relative;
  padding: 3.2vw 0 2.66667vw;
  box-sizing: content-box;
  height: 10.66667vw;
}

._2u1U_ {
  height: .8rem;
  width: .8rem;
  margin-right: 2.13333vw;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .05);
}

._3mt7u>h3 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.xqMWg {
  font-size: 4vw;
  line-height: 1.3;
  color: #666;
  max-width: 46vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

._2DUP4 {
  font-size: 2.66667vw;
  color: #aaa;
}

._2_SFv,
._2sJwH {
  display: inline-block;
}

._2_SFv {
  margin: 0 1.06667vw;
  height: 1.86667vw;
  border-left: 1px solid #ccc;
}

._2sJwH {
  line-height: 4vw;
  padding: 0 1.06667vw;
  font-size: 2.93333vw;
  color: #a45b1c;
  border: 1px solid #d1ab8d;
  border-radius: .26667vw;
  margin-right: 1.6vw;
}

._3x4jG {
  height: 3.2vw;
}

._3xqCD {
  contain: strict;
  height: 34.4vw;
  width: 100%;
  padding: 2.66667vw 0;
  display: -webkit-flex;
  display: flex;
}

._3t8mW {
  width: 29.06667vw;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .05);
}

._3t8mW,
.JAN9C {
  height: 29.06667vw;
}

.KhJwn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5.33333vw;
  height: 5.33333vw;
}

.JAN9C {
  position: relative;
  width: 61.86667vw;
  margin-left: 2.66667vw;
}

.McUOa,
.VRaJj:not([data-oneline]) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}

.VRaJj {
  font-size: 4.53333vw;
  line-height: 1.2;
  color: #333;

}

.McUOa {
  margin-top: 1.33333vw;
  font-size: 2.93333vw;
  line-height: 1.4;
  color: #999;
  height: .64rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.u7fu8 {
  bottom: 7.73333vw;
  height: 4vw;
  line-height: 4vw;
  padding: 0 1.06667vw;
  color: #fff;
  background-image: linear-gradient(-135deg, #ff7000, #ff2f00);
  border-radius: .26667vw;
}

._3IxAU {
  bottom: 0;
  font-size: 5.33333vw;
  color: #b91f20;
  font-family: CSD;
  font-weight: 700;
}

._3IxAU,
.u7fu8 {
  position: absolute;
  left: 0;
}

._3IxAU>i {
  font-size: 3.73333vw;
}

._3IxAU i {
  font-style: normal;
}

._3IxAU>del,
._19si8 {
  font-weight: 300;
  margin-left: 1.33333vw;
  color: #666;
}

._3IxAU>del {
  font-size: 3.2vw;
  vertical-align: middle;
}

._19si8 {
  display: inline-block;
  padding: 0 .8vw;
  font-size: 2.93333vw;
  border: 1px solid #999;
  vertical-align: 20%;
}

._3qUg0 {
  height: 9.86667vw;
  line-height: 9.86667vw;
  color: #999;
  font-size: 3.46667vw;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

._3qUg0>img {
  opacity: .6;
  margin-left: 1.33333vw;
  width: 2.13333vw;
  height: 1.33333vw;
}